NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sistema_usuarios
DB_USER=sistema_app
DB_PASSWORD=cambiar_esta_clave
JWT_SECRET=reemplazar_por_una_clave_larga_aleatoria_de_64_caracteres
JWT_EXPIRES_IN=15m
CORS_ORIGINS=http://localhost:5173,http://localhost:5174
APP_URL=http://localhost:5173
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=tu_usuario_smtp_de_mailtrap
MAILTRAP_PASS=tu_password_smtp_de_mailtrap
MAIL_FROM=Sistema Usuarios <no-reply@sistema-usuarios.local>
